.active {
  color: white !important;
  background-color: rgb(73, 103, 129);
}
.services-image {
  width: 277px;
  height: 282;
  display: flex;
  /*flex-direction: column;
  justify-content: flex-end;*/
}
.row-seprator {
  border-top: solid rgb(73, 103, 129) 0.1px;
  height: 0;
}
.services-col1-links {
  display: flex;
  flex-direction: column;
}
.services-col1-links a {
  line-height: 1.3;
  font-weight: 500;
}
a {
  color: rgb(157, 176, 200);
}
service-desc a {
  color: rgb(188, 214, 241);
}
.services-content {
  margin-right: 0px;
  left: 4px;
  width: 580px;
  font-size: 16.5px;
  line-height: 1.4;
  position: relative;
  bottom: 8px;
}
.services-content h3 {
  margin: 0;
  color: rgb(199, 224, 250);
  letter-spacing: 3px;
  font-size: 23px;
}
.list-container {
  margin-top: 0;
  padding-top: 0;
}
.list-container li span {
  padding-left: 0;
  position: relative;
  right: 5px;
}
/* contact */
.contact {
  margin-top: 40px;
  padding-left: 34px;
  margin-right:10px ;
  background-color: rgb(16, 34, 58);
  border: 1px solid #2e5e75;
  border-left: 0;
  border-right: 0;
  height: 92px;
}
.contact p {
  margin: 0;
  margin-top: 12px;
  margin-bottom: 12px;
}
.contact button {
  color: white;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #2e5e75;
  background-image: linear-gradient(#266378, #06273a);
}
.contact button:after {
  content: ">";
  font-weight: bolder;
}
